* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    --theme-color:rgb(184, 98, 0);
    --theme-color2: rgb(211, 211, 253);
    --theme-color3: rgba(255, 166, 0, 0.863); 
    --theme-color4: rgb(253, 228, 85);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,rgb(211, 211, 253) , rgb(184, 98, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bookInfo {
    height: 70%;
    width: 70%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color3);
    border: solid var(--theme-color2);
    border-radius: 10px;
  }

  #book-list li {
    list-style: none;
    background-color: var(--theme-color4);
    border: solid 5px var(--theme-color2);
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    font-size: 1.5rem;
  }

  .newBookButton {
    width: 180px;
    height: 80px;
    font-size: 1.25rem;
    margin-left: 15px;
    border: groove --theme-color2;
    background-color: var(--theme-color3);
  }

  .main-content {
    font-size: 1.5rem;
    margin: 5px;
  }

  form {
    margin: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  li button {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color2);
    margin: 5px;
    font-size: 1.25rem;
  }